.cart{
    margin-top: 50px;
}
.cart h4{
    font-weight: 300;
}
.col-2{
    width: 16.33333333333333;
}
.col-9{
    width: 75%;
}
.cart-header{
    background-color: #f4f6f8;
    padding: 10px;
}
.summary{
    background-color:#f4f6f8;
    padding: 10px;
}
.summary-details{
    background-color: red;
    color: white;
    padding: 15px;
}